<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @league.team %>
</p>

<p>
  <strong>Description:</strong>
  <%= @league.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @league.image %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
