<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @country.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @country.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @country.image %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
